body {
    font-family: 'Libre Baskerville', serif;
    font-size:1em;
    color:#FFFFFF;
    background-color: #000000;
    font-weight:300;
    line-height:1.7;
    overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Libre Baskerville';
    color:#FFFFFF;
    line-height:1.4;
    font-weight:300;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.mx-width {
    max-width:960px;
    margin:0 auto;
}

a,a:hover {
    color:#563d7c;
    text-decoration:none;
}

img{
  width:100%;
  max-width: 100%;
  height:auto;
}

.card-img-top{
  width:100%;
  height:auto;
}

/* layout styles */

.jumbotron-fluid {
    padding:0;
}

.divider {
    padding-top: 100px;
}

.content-row {
    padding-top: 30px;
    padding-left: 0px;
    text-align: left;
}

.quote {
    padding: 10px;
}

/* Button Styles */

.year-buttons {
  padding-left: 10px;
  padding-right: 10px;
  color: #FE3824;
  font-family: 'Open Sans';
  width: auto;
  height: auto;
  font-size: 17px;
  font-weight: 600;
  background-color: #000000;
  border-top: 3px solid #000000;
  border-left: 0px solid #000000;
  border-bottom: 0px solid #000000;
  border-right: 0px solid #000000;
  outline: none;
  padding-bottom: 40px;
}

.year-buttons:hover, .year-buttons:active {
  border-top: 3px solid #FFFFFF;

  color: #FFFFFF;
  background-color: #000000;
}

/* text styles */

.header {
    padding-bottom:100px;
}

.header-logo {
    width: auto;
    height: 10%;
    padding-top: 10px;
}

.header-title {
    font-family:'Libre Baskerville';
    font-size:60px;
    line-height:1;
    font-weight:300;
    color:#FFFFFF;
    padding-top:100px;
    padding-bottom: 40px;
}

.container {
  -webkit-animation: fade-in 1.2s ease-in-out both;
  -moz-animation: fade-in 1.2s ease-in-out both;
  animation: fade-in 1.2s ease-in-out both;
}

.header-subtitle {
    font-family:'Open Sans';
    font-weight: 600;
    text-align: left;
    font-size:23px;
    line-height:1.4;
    color:#FFFFFF;
}

.topics-line {
    height: 10px;
    width: 90px;
    background-color: #FFFFFF;
}

.topics {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size:40px;
    color: #FFFFFF;
}

.topics-small {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 5px;
}

.content {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.content-subtitle {
    font-family:'Open Sans';
    font-weight: 600;
    text-align: left;
    font-size:23px;
    line-height:1.4;
    color:#FFFFFF;
}

.fact {
    font-family: 'Libre Baskerville';
    text-align: left;
    font-size: 40px;
    font-weight:300;
    color:#FFFFFF;
}

.source {
    font-family: 'Libre Baskerville';
    font-size: 12px;
    color: #FE3824;
}

.help-section {
    padding-top: 30px;
}

.help-h2 {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 55%;
}

.twitter-handle, .fa {
    color: #FE3824;
    padding: 2px;
}

a:link {
    color: #FFFFFF;
}

/* visited or selected link */
a:visited, a:active {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #FFE5E2;
    border-bottom: 1px white dotted;
}

ul {
    list-style-type: none;
    padding-top: 20px;
    padding-left: 5px;
    color: #FFFFFF;
}

li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
}

li:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    font-size: 18;
    content: "\f099";
    color: #FE3824;
}

.circle-red {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FE3824;
}

.circle-black {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}

.circle-white {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.circle-legend {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}

.donation-amounts {
    font-family: 'Libre Baskerville';
    font-weight: 400;
    font-size: 23px;
    color: #FE3824;
}

.footer {
    font-family: 'Open Sans';
    font-weight:400;
    font-size: 12px;
    color: #444444;
    padding: 50px;
}

/* Bar Graph Styling */

.bar-text {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 12px;
  color: #FFFFFF;
}

.title-text {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 18px;
}

.subtitle-text {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-size: 12px;
}

.bar:hover {
  fill: #003366
}
